.services{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 3rem;
    margin-bottom: 5rem;


}
.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
    
    
}
.awesome>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(3){
    color: var(--gray);
    font-size: 23px;
    margin-top: 1rem;
}
.s-button{
    width:  8rem;
    margin-top: 1rem;
}
.container{
    display: flex;
    top: 100%;
    margin-right: 120px;
    text-align:initial;
    padding-left: 2px;
}
.container2{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    padding-left: 100px;
    padding-right: 100px;
}
.cards{
    position: relative;
}
.cards>*{
    position:absolute;
}
@media screen and (max-width:480px){
    .services{
        margin-top:0 ;
        flex-direction: column;
        gap: 5rem;
        height: 80rem;
        padding: 0;
        margin-bottom: 0;
        padding-bottom: 0;

    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 0.1px;
    }
    .cards>*{
        position: static;
        width: auto;
        height: 60rem;
        align-items: center;
    }
    .container{
        height:30vh ;
    }
    .container2{
        padding-left: 0;
        margin-left: 4rem;
        width: auto;
        height: 60rem;
        margin-bottom: 1rem;
        justify-content: center;
    }
    .db{
        gap: 2rem;
        top: 10rem;
        left: 12rem;
    }
}